torch
torchvision
einops
torchaudio
tensorboard
setuptools<80
numpy
pandas
matplotlib
plotly
kaleido
streamlit
scikit-learn
tqdm
pyyaml
Pillow
requests

# Medical imaging
monai
SimpleITK
nibabel
scipy
scikit-image
connected-components-3d
