torch
torchvision
einops
torchaudio
tensorboard
setuptools<80
numpy
pandas
matplotlib
plotly==6.7.0
kaleido==0.2.1
streamlit
scikit-learn
tqdm
pyyaml
Pillow
requests

# Medical imaging
monai
SimpleITK
nibabel
scipy
connected-components-3d
